name: 'Unit Tests'
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  unit-test:
    - name: 'Unit Tests'
    - runs-on: ubuntu-latest
    - steps:
      - uses: actions/checkout@v5

      - name: Cache Node modules
        id: node_modules
        uses: actions/cache@v4
        with:
          path: |
            ~/.npm
            node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install dependencies
        if: steps.node_modules.outputs.cache-hit != 'true'
        run: npm ci

      - name: Run unit tests
        run: npm run test:unit